* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
td,
th,
div {
    font-family: "Titillium Web", sans-serif;
}

body {
    background-color: #0b0c10;
    color: #c5c6c7;
}

.headerContainer {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: center;
}

.zipCodeContainer {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.weatherContainer {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: center;
}

.cryptoContainer {
    margin-top: 20px;
}

.align {
    display: flex;
    align-content: flex-start;
}

.time {
    font-size: 6rem;
}

.hideDiv {
    display: none;
}

.date {
    margin-bottom: 1.2rem;
}

.location {
    margin-left: 5%;
    margin-bottom: 1rem;
}

.currentTemp {
    font-size: 55px;
}

.highTemp {
    font-weight: bold;
}

.rainIcon {
    height: 15px;
}

.rainChance {
    display: flex;
    justify-content: space-evenly;
    margin-top: 7px;
}

.weatherUpdate {
    font-size: 0.8rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th {
    font-size: 20px;
}

td {
    text-align: center;
}

tr {
    height: 1vh;
}

tr:nth-child(even) {
    background: #45a29d1e;
}

.coin-img {
    height: 30px;
    width: 30px;
    padding-left: 20px;
}

.red {
    color: #ea3943;
}

.redBold {
    color: #ea3943;
    font-weight: bold;
}

.green {
    color: #16c784;
}

.greenBold {
    color: #16c784;
    font-weight: bold;
}

.ATHincoming {
    color: #f7ff00;
    font-weight: bold;
}

.sparklineGraph {
    width: 150px;
    height: 50px;
    padding-right: 20px;
}
